@font-face {
    font-family: titulo;
    src: url(../fonts/Vollkorn-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: letra;
    src: url(../fonts/Vollkorn-VariableFont_wght.ttf);
}

body {
    color: #000;
    overflow-x: hidden;
    height: 100vh;
    background-image: url("../img/hoja.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-family: letra;
    color:#080808
}
h3,h5{
    font-family: letra;
    color: rgb(4, 66, 18);
    text-shadow: 2px 2px 5px rgb(24, 24, 24);
}
.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #061d02;
}

.form-control-label {
    margin-bottom: 0;
    color: darkgreen;
}
strong{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00d412;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
    color: hsl(111, 36%, 45%);
    background-color: darkgreen;
    background-position: center;
    background-position-x: center;
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}